* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: #323330;
}
div {
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.hide {
  display: none;
}

.container {
    margin: 50;
  height: 100vh;
}
.panel.rack{
    display: flex;
}
div#current-money {
  display: flex;
    padding: 10px;
}
.panel{
  text-align: center;
    padding: 50px;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #fff;
}
.button{
    text-align: center;
    border-width: 1px;
    border-style: inherit;
}
.panel.vertical{
    display: flex;
}

.textarea{
    height: 150px;
}
.panel.outlet{
  padding: 10px;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #fff;
  height: 200px;
  resize: none;
}
.popup {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup>.panel {
  padding: 30px;
}
.hide {
  display: none;
}
.panel .money-box{
  display: flex;
}
.items{
  text-align: center;
}
