* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: #323330;
}
div {
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.hide {
  display: none;
}

.container {
  padding: 40px;
    margin: 50;
  height: 100vh;
}
.panel.rack{
    display: flex;
}
div#current-money {
  display: flex;
    padding: 10px;
}
.panel{
  text-align: center;
    padding: 50px;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #fff;
}

.button{
    text-align: center;
    border-width: 1px;
    border-style: inherit;
}
.panel.vertical{
    display: flex;
}

.textarea{
    height: 150px;
}

.panel.outlet{
  padding: 10px;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #fff;
  height: 200px;
  resize: none;
}

.popup {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup>.panel {
  padding: 30px;
}

.hide {
  display: none;
}

.panel .money-box{
  padding: 20px;
  display: flex;
}

.items{
  padding: 10px;
  border-radius: 10px;
  border-style: double;
  text-align: center;
}

.buyitem{
  border-radius: 10px;
  border-style: inherit;
  font-weight: 800;
}
.buyitem:active{
 transform: scale(1.5);
}
.buyitem:hover{
 letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
    background-color: #f8e6e0;
    color: #2e2c2c;
}

.noitem{
  border-style: inherit;
  animation: blink 2s linear infinite;
}

.money-value:active{
  transform: scale(1.5);
}
.money-value:hover{
letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
    background-color: #f8e6e0;
    color: #2e2c2c;
}
.money-value{
    border-radius: 10px;
padding: 5px;
  background-color: #f8e6e0;
    color: #2e2c2c;
  border: 3px solid #f8e6e0;
    color: #2e2c2c;
}

.money-return:active{
  transform: scale(1.5);
}
.money-return:hover{
letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
    background-color: #f8e6e0;
    color: #2e2c2c;
}
.money-return{
    border-radius: 10px;
  background-color: #f8e6e0;
    color: #2e2c2c;
  border: 3px solid #f8e6e0;
    color: #2e2c2c;
}

.get-beverage:active{
  transform: scale(1.5);
}
.get-beverage:hover{
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
    background-color: #f8e6e0;
    color: #2e2c2c;
}
.get-beverage{
    border-radius: 10px;
    background-color: #f8e6e0;
    color: #2e2c2c;
    border: 3px solid #f8e6e0;
    color: #2e2c2c;
}

.money-outlet{
  margin-top: 10%;
  margin-top: 10%;
}

.noleds{
  margin-bottom: 0px;
  margin-top: 0px;
}

.fullleds{
  margin-bottom: 0px;
  margin-top: 0px;
}

@keyframes blink{
0%{opacity: 0;}
50%{opacity: .5;}
100%{opacity: 1;}
}

.get-money:active{
  transform: scale(1.5);
}
.get-money:hover{
letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
    background-color: #f8e6e0;
    color: #2e2c2c;
}
.get-money{
    border-radius: 10px;
    background-color: #f8e6e0;
    color: #2e2c2c;
    border: 3px solid #f8e6e0;
    color: #2e2c2c;  
  }
